section {
    padding: 80px 0;
}
.page {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}
p {
    margin: 20px;
}
a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}
a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single-service a {
  color: #000280;
}
/*navbar*/
.nav-border {
    border-bottom: solid;
    border-width: 1px;
}

.nav-link:not(.active):hover {
    color:#000 !important;
}
/*header*/
header {
  padding: 156px 0 100px;
  background: linear-gradient(20deg, #ABDCFF, #0396FF);

}
#about h2, #projects h2 {
    margin-bottom: 20px;
}

/*project section*/
#projects p {
    margin-top: 15px;
    margin-bottom: 30px;
}
.project {
  margin-top: 20px;
  height: 210px;
  width: 400px;
  transition: 0.6s ease;
  will-change: filter, opacity, cursor;
}

.project:hover {
  cursor: pointer;
  filter: blur(2px);
  transition: 0.6s ease;
  opacity: 0.7;
}
.img-thumbnail {
    border-color: black;
}
#project-icon.resize {
  width: 50%;
}

/*contact section*/
#contact {
    background-color: rgb(233, 235, 238);
}

#contact h2 {
    margin-left: 20px;
    margin-bottom: 20px;
}
input, textarea {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid #CCD1D9;
    width: 100%;
    background: #F8F9FA;
}

.contact-form {
    padding: 0rem 3.4rem;
}
input.btn-primary {
    margin-bottom: 0;
    cursor: pointer;
}

.social-icons {
    margin: 30px 0px;
}

.btn-social {
    color: #505050;
    margin: 0% 2%;
}
#resume:hover {
    color: #990000;
}

#linkedin:hover {
    color: #0077B5;
}

#github:hover {
    color: #6e5494;
}

#email:hover {
    color: #006600;
}

@media (max-width: 991px) {
  #about p {
    text-align: center;
  }
  .contact-form {
    padding: 0rem 1rem;
  }
  .navbar-nav {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
  }
}
#about-text {
  font-family: "Poppins", sans-serif;
  color:#FFF !important;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: auto !important;
  margin-left: auto !important;
}
.project-text {
  font-family: "Poppins", sans-serif;
  margin: 20px;
  font-size: 16px;
  font-weight: 400;
}
#title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #222222;
  padding-bottom: 30px;
}
#title-about {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #FFF;
  padding-bottom: 10px;
}
#nav-options {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.light {
  color: #fff;
}

.dark {
  color: #000;
}
.primary-btn {
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}
.p1-gradient-bg, .primary-btn, .primary-btn2:hover,.banner-area, .myself-wrap .desc .talk-btn, .single-feature:hover, .generic-banner {
  background-image: -moz-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  background-image: -webkit-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  background-image: -ms-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
}

.p1-gradient-color, .single-service a:hover {
  background: -moz-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  background: -webkit-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  background: -ms-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary-btn:focus {
  outline: none;
}
.primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.primary-btn:hover {
  background: transparent;
  border: 1px solid #000;
  color: #000;
}
.form-area input {
  padding: 15px;
}

.form-area input, .form-area textarea {
  border-radius: 0;
  font-size: 12px;
}

.form-area textarea {
  height: 180px;
  margin-top: 0px;
}

.myself-wrap .desc .talk-btn {
  border: 1px solid transparent;
  color: #fff;
  padding: 12px 70px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 400;
}
